
# Dependencies
node_modules/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# IDE
.vscode/*
!.vscode/settings.json

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
